// /////////////////////////////////////////////////////////////////////
//  0X - General Site Layout
/////////////////////////////////////////////////////////////////////*/
#site {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

// /////////////////////////////////////////////////////////////////////
//  0X - Header and Menu Bar and Footer
/////////////////////////////////////////////////////////////////////*/
@import 'swl-menu';
// /////////////////////////////////////////////////////////////////////
//  0X - Content
/////////////////////////////////////////////////////////////////////*/
.content {
    //height: calc(100% - 75px);
  margin-top: 45px;
  //overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

#image_container,
#proj_img {
  //background-image: url("../images/project_imgs/1.jpg");
  //background-position: center center;
  //background-size: cover;
  //background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

#proj_img .slide {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 4;
}


.proj.active img {
  //max-height: 100%;
  //max-width: 100%;
  display: block;
}

#proj_img .proj.active .slide:first-child {
  display: block;
}

@media (min-width: 769px) {
  .content {
    margin-top: 105px;
  }

  .proj_img_container {
    //margin-top: 105px;
    height: calc(100% - 105px - 45px);
    overflow: hidden;
  }
}

.project_image {
  height: auto;
  max-width: 100%;
}

.single_project_image {
  border-bottom: 1px solid $color__border-swl;
  height: auto;
  margin-top: 15px;
  max-width: 100%;
  padding-bottom: 15px;
}
// Hide the caption, etc. in large screens.
// these are shown in single footer
.caption {
  display: none;
}

.date {
  display: none;
}

.more {
  display: none;
}

.description {
  display: none;
}

// Smaller Screens
@media (max-width: 768px) {
  .caption {
    display: inline-block;
    float: left;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: medium;
    font-weight: 400;
    margin: 20px;
    max-width: calc(100% - 150px);
    overflow: hidden;
    padding: 0 1px 0 10px;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
  }

  .description {
    border-bottom: 1px solid $color__border-swl;
    clear: left;
    display: block;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    height: 0;
    line-height: 1.35em;
    margin: 20px;
    max-height: 0;
    overflow-y: auto;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    transition: height 1s, max-height 1s, padding-bottom .1s;
  }

  .description.active {
    height: auto;
    max-height: 500px;
    padding-bottom: 20px;
    transition: height 1s, max-height 1s, padding-bottom .1s;
  }

  // Hide the not current project caption, etc.
  .caption.inactive,
  .date.inactive,
  .description.inactive {
    display: none;
  }

  .more {
    cursor: crosshair;
    display: inline-block;
    float: right;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: small;
    font-weight: 300;
    margin-right: 10px;
    margin-top: 23px;
    width: 70px;
  }
}

// /////////////////////////////////////////////////////////////////////
//  0X - Slider Buttons
/////////////////////////////////////////////////////////////////////*/
@import 'swl-slider-buttons';

@media (max-width: 768px) {
  .projthumb-wrap {
    margin-top: 30px;
    padding: 0 30px;
    //padding: 0px 30px 20px 30px;
    width: 100%;
  }

  .projthumb {
    cursor: pointer;
    float: left;
    //height: 140px;
    margin: 0 15px 70px 0;
    position: relative;
    transition: display .5s;
    //width: 140px;
  }

  .projthumb.hide {
    display: none;
    transition: display .5s;
  }

  .projthumb img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .projtext {
    //display: none;
    font-size: smaller;
    font-weight: 300;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .projthumb a {
    color: $color__link;
    font-size: smaller;
    outline: 0;
    text-decoration: none;
  }

  .projthumb a:hover {
    color: $color__link-hover;
  }
}

@media (min-width: 769px) {
  .projthumb-wrap {
    margin-top: 30px;
    padding: 0 105px 20px;
    width: 100%;
  }

  .projthumb {
    cursor: pointer;
    float: left;
    height: 270px;
    margin: 0 30px 70px 0;
    position: relative;
    transition: display .5s;
    width: 270px;
  }

  .projthumb.hide {
    display: none;
    transition: display .5s;
  }

  .projthumb img {
    left: 0;
    position: absolute;
    top: 0;
  }

  .projtext {
    display: none;
    font-size: small;
    position: absolute;
    width: 270px;
  }

  .projthumb a {
    color: $color__link;
    font-size: smaller;
    outline: 0;
    text-decoration: none;
  }

  .projthumb a:hover {
    color: $color__link-hover;
  }
}

// /////////////////////////////////////////////////////////////////////
//  0X - Custom Pages
/////////////////////////////////////////////////////////////////////*/
.page__container {
  width: 100%;
}

.page__wrapper {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: small;
  font-weight: 300;
  margin: 0 auto;
  width: calc(100% - 210px);

  h1 {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: medium;
    font-weight: 500;
    margin-top: 0;
    text-decoration: underline;
    text-transform: uppercase;
  }
}

.contact-left {
  float: left;
  padding: 30px 30px 0 0;
  width: 50%;
}

.contact-right {
  float: right;
  padding: 30px 30px 0 0;
  width: 50%;
}

@media (max-width: 768px) {
  .page__wrapper {
    width: calc(100% - 60px);
  }

  .contact-left,
  .contact-right {
    float: left;
    padding: 15px 15px 0 0;
    width: 100%;
  }
}

#map {
  //height: 400px; //calc(100% - 105px);
  //margin: 20px;
}

.footer_copyright {
  display: none;
}

@media (min-width: 769px) {
  .footer_copyright {
    bottom: 15px;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: smaller;
    font-weight: 300;
    position: fixed;
    right: 15px;
  }
}
