// /////////////////////////////////////////////////////////////////////
//  0X - Header
/////////////////////////////////////////////////////////////////////*/
.header__container {
  background-color: $color__background-body;
  background-image: url('images/header_bg.gif');
  background-position: left top;
  background-repeat: repeat-x;
  height: 45px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  //line-height: 43px;
  z-index: 50000;
}

.header__wrapper {
  // width: 90%;
  margin: 0 auto;
  width: calc(100% - 60px);

  a {
    color: $color__link;
    text-decoration: none;
  }
}

.header__icon {
  cursor: pointer;
  display: block;
  float: left;
  font-size: 17px;
  position: relative;
  top: 10px;
  //line-height:45px;
  //width: 50px;
}

.menu-icon {
  left: 360px;
  position: absolute;
}

@media (max-width: 768px) {
  .menu-icon {
    left: 270px;
  }
}

//  For larger screens (Tablet)
@media (min-width: 769px) {
  .header__container {
    height: 105px;
  }

  .header__icon {
    left: 1px;
    top: 26px;
  }

  .header__wrapper {
    width: calc(100% - 210px);
  }

  .logo-large-image {
    display: inline-block;
    position: absolute;
    top: 25px;
  }

  .logo-small-image {
    display: none;
  }
}

.logo-small-image img,
.logo-large-image img {
  vertical-align: bottom;
}

@media (max-width:769px) {
  .logo-small-image {
    display: inline-block;
    position: absolute;
    top: 10px;
    //float: left;
    //margin-right: 50px;
  }

  .logo-large-image {
    display: none;
  }
}

// /////////////////////////////////////////////////////////////////////
//  0X - Footer - SPLASH Page
/////////////////////////////////////////////////////////////////////*/
.footer__container {
  background-color: $color__background-body;
  bottom: 0;
  height: 45px;
  left: 0;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  z-index: 20;

  .footer__caption-date {
    float: left;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: small;
    font-weight: 400;
    width: 6em;
  }

  .footer__caption {
    float: left;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: small;
    font-weight: 400;
    text-transform: uppercase;
    //width: 25em;
    //margin-right: 50px;
  }

  .footer__more {
    float: left;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: small;
    font-weight: 300;
    padding-left: .5em;
    width: 6em;
  }

  &.expanded {
    .footer__caption-date {
      float: left;
      font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
      font-size: small;
      font-weight: 300;
      width: 6em;
    }

    .footer__caption {
      float: left;
      font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
      font-size: small;
      font-weight: 300;
      //width: 25em;
      //margin-right: 50px;
    }

    .footer__more {
      float: left;
      font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
      font-size: small;
      font-weight: 300;
      width: 6em;

    }
  }
}

.footer__wrapper {
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  overflow: hidden;
  width: calc(100% - 210px);
}

.expand,
.single-expand {
  color: $color__link;
  cursor: pointer;

  &:visited,
  &:focus,
  &:hover {
    color: $color__link-hover;
  }
}

@media (max-width: 768px) {
  .footer__container,
  .below-footer__container,
  .single-footer__container,
  .single-below-footer__container {
    display: none;
  }
}

///////////////////////////////////////////////////////////////////////
//  0X - Below Footer - SPLASH page
/////////////////////////////////////////////////////////////////////*/
.below-footer__container {
  background-color: $color__background-body;
  left: 0;
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 20;
}

.below-footer__wrapper {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: small;
  font-weight: 300;
  line-height: 1.25rem;
  margin-bottom: 20px;
  margin-left: 105px;
  margin-top: 20px;
  overflow: hidden;
  width: 50%;
}

.below-footer__description {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

///////////////////////////////////////////////////////////////////////
//  0X - Footer - Single Project Page
///////////////////////////////////////////////////////////////////////
.single-footer__container {
  background-color: $color__background-body;
  bottom: 0;
  height: 45px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
  //overflow-y: hidden;

  .single-footer__caption-date {
    float: left;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: small;
    font-weight: 400;
    width: 6em;
  }

  .single-footer__caption {
    float: left;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: small;
    font-weight: 400;
    text-transform: uppercase;
    //width: 25em;
    //margin-right: 50px;
  }

  .single-footer__more {
    float: left;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: small;
    font-weight: 300;
    padding-left: .5em;
    width: 6em;
  }

  &.expanded {
    .single-footer__caption-date {
      float: left;
      font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
      font-size: small;
      font-weight: 300;
      width: 6em;
    }

    .single-footer__caption {
      float: left;
      font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
      font-size: small;
      font-weight: 300;
      //width: 25em;
      //margin-right: 50px;
    }

    .single-footer__more {
      float: left;
      font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
      font-size: small;
      font-weight: 300;
      width: 6em;
    }
  }
}

.single-footer__wrapper {
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  overflow: hidden;
  width: calc(100% - 210px);
}

@media (max-width: 768px) {
  .single-footer__container {
    display: none;
  }
}

///////////////////////////////////////////////////////////////////////
//  0X - Below Footer - Single Project page
///////////////////////////////////////////////////////////////////////
.single-below-footer__container {
  background-color: $color__background-body;
  left: 0;
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 20;
}

.single-below-footer__wrapper {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  line-height: 1.25rem;
  margin-bottom: 20px;
  margin-left: 105px;
  margin-top: 20px;
  overflow: hidden;
  width: 50%;
}

.single-below-footer__description {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: small;
}

///////////////////////////////////////////////////////////////////////
//  0X - Pop-out Menu
///////////////////////////////////////////////////////////////////////

@media (max-width: 768px) {
  .below-footer__container {
    display: none;
  }
}


@media (min-width: 769px) {
  // Hide the mobile one
  .large-menu_mobile {
    display: none;
  }

  .large-menu_mobile.is-active {
    display: none;
  }

  // show the large size menu
  .large-menu {
    float: left;
    overflow: hidden;
    position: relative;
    top: 28px;
    width: 0;
    //transition: width 0.3s;
  }

  .large-menu.is-active {
    width: 105px;
    //transition: width 0.3s;
  }

  .large-menu-list {
    list-style: none;
    margin: 0;
    margin-top: -3px;
    padding: 0;
    top: 0;
  }

  .large-menu-list-item {
    display: block;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    margin-left: 30px;
    //line-height: 105px;
    //margin-bottom: 2px;
  }

  .large-menu-list-item a {
    color: $color__link;
    text-decoration: none;

    &.active {
      color: $color__link-active;
    }
  }

  // Filter Menu
  .large-menu-sub {
    display: none;
    float: left;
    overflow: hidden;
    position: relative;
    top: 28px;
  }

  .large-menu-sub.is-active {
    display: block;
  }

  .large-menu-sub-list {
    list-style: none;
    margin: 0;
    margin-top: -3px;
    padding: 0;
    top: 0;
  }

  .large-menu-sub-item {
    display: block;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    margin-left: 0;
  }

  .large-menu-sub-item a {
    color: $color__link;
    padding-bottom: 3px;
    text-decoration: none;

    &.active {
      color: $color__link-active;
    }
  }
}

@media (max-width: 768px) {
  // Hide the other menu when in mobile */
  .large-menu {
    display: none;
  }

  .large-menu-sub {
    display: none;
  }

  .large-menu.is-active {
    display: none;
  }

  // Show the mobile menu dropdown in mobile
  .large-menu_mobile {
    background: $color__background-body;
    display: none;
    opacity: 0;
    padding-left: 30px;
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 0;
  }

  .large-menu_mobile.is-active {
    display: block;
    opacity: 1;
    z-index: 20;
  }

  .large-menu-list {
    list-style: none;
    padding: 0;
    //top: 10px;
    //text-align: center;
  }

  .large-menu-list-item {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: medium;
    font-weight: 400;
    line-height: 25px;
    //margin: 10px;
    //display: inline-block;
  }

  .large-menu-list-item a,
  .large-menu-list-item a:hover {
    color: $color__link;
    text-decoration: none;
  }
}


@media (min-width: 769px) {
  .large-menu-search {
    display: none;
    position: fixed;
    right: 60px;
    top: 29px;
    width: 300px;
    z-index: 500001;
    //left: 546px;
  }

  .large-menu-search.is-active {
    display: block;
  }

  .search {
    left: 495px;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 29px;
    width: 301px;
    z-index: 50001;
  }

  .search-icon {
    left: 465px;
    position: fixed;
    top: 29px;
    z-index: 50001;
  }

  #searchIcon {
    float: left;
    margin-left: 1px;
    margin-top: 1px;
  }
}

// MOBILE
@media (max-width: 768px) {

  .large-menu-search,
  .large-menu-search.is-active,
  .search,
  .search-icon {
    display: none;
  }
}
