.arrw {
  background-image: url('images/t.png');
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 10;

  &.down {
    bottom: 0;
    display: none;
    height: 120px;
    left: 0;
    width: 100%;

    &:hover {
      cursor: url('images/arrw_d.png') 20 0, pointer;
    }
  }

  &.left {
    height: 100%;
    left: 0;
    top: 0;
    width: 150px;

    &:hover {
      cursor: url('images/arrw_l.png') 0 20, pointer;
    }
  }

  &.right {
    height: 100%;
    right: 0;
    top: 0;
    width: 150px;

    &:hover {
      cursor: url('images/arrw_r.png') 17 20, pointer;
    }
  }

  &.up {
    height: 120px;
    left: 0;
    top: 0;
    width: 100%;

    &:hover {
      cursor: url('images/arrw_u.png') 20 0, pointer;
    }
  }
}
