/* /////////////////////////////////////////////////////////////////////
//  0X - General Site Layout
/////////////////////////////////////////////////////////////////////*/

#site {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* /////////////////////////////////////////////////////////////////////
//  0X - Header and Menu Bar and Footer
/////////////////////////////////////////////////////////////////////*/

@import 'swl-menu';

/* /////////////////////////////////////////////////////////////////////
//  0X - Content
/////////////////////////////////////////////////////////////////////*/

.content {
  margin-top: 45px;
  //height: calc(100% - 75px);
  //overflow: hidden;
  top: 0;
  width: 100%;
  position: absolute;
}

#proj_img,
#image_container {
  //background-image: url("../images/project_imgs/1.jpg");
  /*background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;*/
  position: absolute;
  width: 100%;
  height: 100%;
}
#proj_img .slide {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 4;
}

.proj.active img {
  //max-height: 100%;
  //max-width: 100%;
  display: block;
}

#proj_img .proj.active .slide:first-child {
  display: block;
}

@media (min-width: 769px) {
  .content {
    margin-top: 105px;
  }

  .proj_img_container {
    //margin-top: 105px;
    height: calc(100% - 105px - 45px);
    overflow: hidden;
  }
}

/* Smaller Screens */
.project_image {
  max-width: 100%;
  height: auto;
}

.caption {
  display: none;
}

.date {
  display: none;
}

.more {
  display: none;
}

.description {
  display: none;
}

@media (max-width: 768px) {
  .caption {
    display: inline-block;
    margin: 20px;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: medium;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0px 1px 0 10px;
    float: left;
    max-width: calc(100% - 150px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .description {
    display: block;
    max-height: 0;
    height: 0;
    overflow-y: auto;
    margin: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #efefef;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    line-height: 1.35em;
    clear: left;
    transition: height 1s, max-height 1s, padding-bottom 0.1s;
  }
  .description.active {
    max-height: 500px;
    height: auto;
    padding-bottom: 20px;
    transition: height 1s, max-height 1s, padding-bottom 0.1s;
    //margin: 20px;
    //padding-bottom: 20px;
    //border-bottom: 1px solid #efefef;
  }

  .more {
    display: inline-block;
    width: 70px;
    float: right;
    font-size: small;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    margin-right: 10px;
    margin-top:23px;
    cursor: crosshair;
  }

}


/* /////////////////////////////////////////////////////////////////////
//  0X - Slider Buttons
/////////////////////////////////////////////////////////////////////*/

@import 'swl-slider-buttons';

/* /////////////////////////////////////////////////////////////////////
//  0X - Project Grid Styles
/////////////////////////////////////////////////////////////////////*/
/*
@media (max-width: 768px) {
  .projthumb-wrap {
    width: 100%;
  }

  .projthumb {
    position: relative;
    //width: 100%;
    margin-top: 20px;
    cursor: pointer;
  }
  .projthumb img {
    width: 100%;
    height: auto;
  }
  .projtext {
    display: block;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #818181;
  }
  .projthumb a {
    text-decoration: none;
    outline: 0;
    color: #373a3c;
  }
}*/
@media (max-width: 768px) {
  .projthumb-wrap {
    width: 100%;
    //padding: 0px 30px 20px 30px;
    padding: 0 30px 0 30px;
    margin-top: 30px;
  }
  .projthumb {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 15px 70px 0px;
    cursor: pointer;
    float: left;
    transition: display 0.5s;
  }

  .projthumb.hide {
    display: none;
    transition: display 0.5s;

  }

  .projthumb img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .projtext {
    position: absolute;
    width: 100%;
    font-size: smaller;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    //display: none;
  }
  .projthumb a {
    text-decoration: none;
    outline: 0;
    font-size: smaller;
    color: #373a3c;
  }
  .projthumb a:hover {
    //color: #800;
  }
}
@media (min-width: 769px) {
  .projthumb-wrap {
    width: 100%;
    padding: 0px 105px 20px 105px;
    margin-top: 30px;
  }
  .projthumb {
    position: relative;
    width: 270px;
    height: 270px;
    margin: 0 30px 70px 0px;
    cursor: pointer;
    float: left;
    transition: display 0.5s;
  }

  .projthumb.hide {
    display: none;
    transition: display 0.5s;

  }

  .projthumb img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .projtext {
    position: absolute;
    width: 270px;
    font-size: small;
    display: none;
  }
  .projthumb a {
    text-decoration: none;
    outline: 0;
    font-size: smaller;
    color: #373a3c;
  }
  .projthumb a:hover {
    //color: #800;
}
}

/* /////////////////////////////////////////////////////////////////////
//  0X - Custom Pages
/////////////////////////////////////////////////////////////////////*/

.page__container {
  width: 100%;
}
.page__wrapper {
  width: calc(100% - 210px);
  font-size: small;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

.contact-left {
  width: 50%;
  float: left;
  padding: 30px 30px 0px 0;
}
.contact-right {
  width: 50%;
  float: right;
  padding: 30px 30px 0px 0;;
}

.page__wrapper h1 {
  margin-top: 0;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: medium;
  text-decoration: underline;
  text-transform: uppercase;
}

.profile {

}

#map {
  //height: 400px; //calc(100% - 105px);
  //margin: 20px;
}

.footer_copyright {
    display: none;
}

@media (min-width: 769px) {
    .footer_copyright {
        font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
        font-weight: 300;
        font-size: smaller;
        bottom: 15px;
        right: 15px;
        position: fixed;
    }
}
