.arrw {
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 10;
  background-image: url(images/t.png);
}

.arrw.down {
  display: none;
}

.arrw.left {
  width: 150px;
  height: 100%;
  left: 0;
  top: 0;
}

.arrw.right {
  width: 150px;
  height: 100%;
  right: 0;
  top: 0;
}

.arrw.up {
  width: 100%;
  height: 120px;
  left: 0;
  top: 0;
}

.arrw.down {
  width: 100%;
  height: 120px;
  left: 0;
  bottom: 0;
}

a.arrw.left:hover {
  cursor: url('images/arrw_l.png') 0 20, pointer;
}

a.arrw.right:hover {
  cursor: url('images/arrw_r.png') 17 20, pointer;
}

a.arrw.up:hover {
  cursor: url('images/arrw_u.png') 20 0, pointer;
}

a.arrw.down:hover {
  cursor: url('images/arrw_d.png') 20 0, pointer;
}

/*
a.arrw.left.small {
  cursor: pointer;
  text-decoration: none;
  font-size: 36px;
}
a.arrw.right.small {
  cursor: pointer;
  text-decoration: none;
  font-size: 36px;
}

a.arrw.left.small:hover {
  cursor: pointer;
}
a.arrw.right.small:hover {
  cursor: pointer;
}

.arrw.left.small {
  left: 10px;
  line-height: 60px;
  top: calc(50%);
  width: 60px;
  height: 60px;
  border-radius: 3px;
  text-align: center;
  background: rgba(0,0,0,0.3);
  opacity: 1;
  color: #fff;
  font-family: 'fontello';
}
.arrw.right.small {
  right: 10px;
  line-height: 60px;
  top: calc(50%);
  width: 60px;
  height: 60px;
  border-radius: 3px;
  text-align: center;
  background: rgba(0,0,0,0.3);
  opacity: 1;
  color: #fff;
  font-family: 'fontello';
}
*/
